/*
 * LetsLeak
 * An anonymonus social platform
 * Copyright 2014 LetsLeak
 * https://github.com/harshitdaga/letsleak
*/
/*****************************************************************************/
/* Invitation: Style */
/*****************************************************************************/

#accountInvitationTemplate #content{
    margin-top: 3%;
}

#accountInvitationTemplate #showMore{
    margin: auto;
    width: 17%;
    padding: 20px;
}
